
body {
    background-color: black;
    scroll-behavior: smooth;
}
.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.editBt {
    right:0;
    top:0;
}
.card img{
    height:500px;
    width:350px;
}
.card {
    font-family: Arial, Helvetica, sans-serif;
}
.animeScore {
    width:300px;
}
.cardItem {
    width: 320px;
    height: 530px;
}
.cardItem img {
    height:400px;
    width:280px;
}
#content-wrapper {
   width:1200px;
}
.image-container {
    padding: 20px;
    margin:20px;
    position: relative;
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    align-self: baseline;
}
.image-container img {
    height:500px;
    width:350px;
   
}
.image-container::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 90%);
    z-index: 1;
    border-radius: 20px;
}
.refinementMenu {
   padding:20px;
    min-height:1000px;
}
#contents {
    width: 400px;
}
#updateForm {
    width:400px;
    width:1000px
}
.genre
{
    transform: translate(20px);
    margin-top: 20px;
}
.fa-search {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
  }
.fa-pen {
    cursor: pointer;
    text-align:right;
    color:black;
    padding:10px;
    box-shadow: 3px 3px 5px coral;
    border: 1px white solid;
    border-radius: 10%;
}
.fa-plus {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-angle-right {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-chevron-down {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-trash {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-plus:hover{
    transition: background-color 0.5s ease;
    background-color: crimson;
}
.fa-trash:hover{
    transition: background-color 0.5s ease;
    background-color: crimson;
}