body {
    background-color: black;
    scroll-behavior: smooth;
    user-select: none;
}
.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.editBt {
    right:0;
    top:0;
}
.card img{
    height:500px;
    width:350px;
}
.errorTab{
    text-align: center;
    
}
.errorTab > h1{
    font-size: 70px;
}
.card {
    font-family: Arial, Helvetica, sans-serif;
}
.animeScore {
    width:300px;
}
.btn-close{
    position: absolute;
    right: 0;
    transform: translate(-30%,30%);
}
.loginAuthLabel {
    font-size:0.7rem;
    font-weight: 600;
}
#myConnect > a >svg{
    block-size: 40px;
}
#signInAuthBt:hover{
    box-shadow: 0 0 4px rgb(234, 0, 0);
    transition: box-shadow .3s ease-in-out;
}
.modal-content{
    width: 800px;
    --netAnime-login-height:600px;
    height:var(--netAnime-login-height);
    transform: translateX(50%);
}
#loginForm > form > input[type='text'],input[type='password'] {
    border: none;
    outline: none;
    width:250px;
}
.cardItem {
    min-width: 300px;
    max-width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .3s ease-in-out;
}
#loginImage {
    height:var(--netAnime-login-height);
    width:400px;
}
.cardItem img {
    height:400px;
    width:280px;
}
.cardItem:hover{
    /* border: 3px solid white; */
    box-shadow: 0 0 10px white;
    
}
#content-wrapper {
   width:1200px;
}
.image-container {
    padding: 20px;
    margin:20px;
    position: relative;
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    align-self: baseline;
}
.image-container img {
    height:500px;
    width:350px;
   
}
#refinementMenu.show{
    animation: fadeInLeft .5s;
    opacity: 1;
    visibility: visible;
}
.image-container::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 90%);
    z-index: 1;
    border-radius: 20px;
}
#updateForm {
    width:400px;
    width:1000px
}
.genre
{
    transform: translate(20px);
    margin-top: 20px;
}
.fa-search {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
  }
.fa-pen {
    cursor: pointer;
    text-align:right;
    color:black;
    padding:10px;
    box-shadow: 3px 3px 5px coral;
    border: 1px white solid;
    border-radius: 10%;
}
.fa-plus {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-angle-right {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-chevron-down {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-trash {
    cursor: pointer;
    text-align:right;

    color:white;
    padding:10px;
    font-size:20px;
    border-radius: 10%;
}
.fa-plus:hover{
    transition: background-color 0.5s ease;
    background-color: crimson;
}
.fa-trash:hover{
    transition: background-color 0.5s ease;
    background-color: crimson;
}